header {
  background: #504031;
  padding: 6px;

  position: fixed; /* le header ne bougera pas de place*/
  width: 100%; /*prend toute la largeur de la fenêtre */

  left: 0;
  right: 0;
  top: 0;
  z-index: 1000; /* pour s'assurer que le header va s'afficher au dessus des autres éléments */
  box-shadow: 0 2px 15px rgba(165, 114, 83, 0.1); /*effet ombré*/
}

nav {
  display: flex;
  justify-content: space-between; /* espace égal entre chaque élément sur la barre de nav*/

  align-items: center;

  max-width: 1400px;

  margin: 0 auto; /*la nav est centrée en horizontal sur la page*/
  padding: 0.5rem 2rem;
}

/* pour TOUS les éléments : pas d'espacement par défaut*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.logo-img {
  height: 45px;
  width: auto;
}

.menu {
  display: flex;
  align-items: center;
  gap: 3rem; /* ajoute un espace entre mes éléments de la nav* -> Nos cookies et Contact */
}

.menu a {
  color: #fff9ef;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  padding: 0.5rem;
  transition: all 0.3s ease;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.menu a:hover {
  color: #744a31; /* quand on les survole*/
}

/*panier avec notification quantite */
.cart-wrapper {
  position: relative;
  display: inline-block;
  padding: 5px;
}

.cart-icon {
  position: relative;
}

.notification {
  position: absolute;
  top: -8px; /* pour avoir la bulle legerement en décalé*/
  right: -8px;
  background-color: white;

  color: #744a31;
  font-size: 12px;
  min-width: 18px;
  height: 18px;

  border-radius: 50%; /* affichage en arrondi */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
