* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; /* Pour TOUS les éléments */
}

body {
  background-color: #f7f3f0;
  overflow-x: hidden;
  position: relative;
  padding-top: 70px;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff9ef;
  z-index: -1; /* on s'assure que il ne passe pas au dessus des autres éléments */
}

.title {
  font-size: 57px;
  font-weight: bold;
  line-height: 1.2;
}

.subtitle {
  font-size: 24px;
  margin-top: 20px;
  opacity: 0;
  color: #fff9ef;
  font-weight: bold;
  animation: effetsousTitre 2s ease forwards 1s;
}

.titreCentral {
  position: relative;
  width: 100%;
  height: 100vh;

  background-image: url("../assets/background2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll; /* quand on scroll, l'image ne reste pas fixe et bouge également*/

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
  z-index: 1; /* passe au dessus de l'image */
}

/* Animation pour faire apparaître le sous-titre de bas vers le haut */
@keyframes effetsousTitre {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.content {
  padding: 60px 20px;
  background-color: #f0f0f0;
}

/*NOS COOKIES*/

.cookies-wrapper {
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* que 4 cartes de cookies , sur une ligne sinon on va a la ligne */
  justify-items: center;
  margin-top: 40px;
  margin-left: -2px;
}

/* la carte cookie avec photo + titre + description */

.cookie-card {
  background-color: #fff;
  padding: 15px 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .cookies-wrapper {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .cookie-card {
    width: 90%;
  }
}

.cookie-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.cookie-card h3 {
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: bold;
}

.cookie-card p {
  font-size: 14px;
  color: #555;
}

.cookie-card h4 {
  color: #504031;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 11px;
}

.button {
  font-size: 17px;
  color: #fff9ef;
  font-family: "Montserrat", sans-serif;
  padding: 13px 7px;
  font-weight: bold;
}

.cookie-card button {
  border-radius: 18px;
  background-color: #b08968;
  margin-left: 7px;
  padding: 15px 30px;
  font-size: 15px;
  width: 100%;
  cursor: pointer;
}

.cookie-card button:hover {
  background-color: #8c5832;
  color: #ffffff;
}

#nos-cookies {
  padding-top: 80px;
  padding-bottom: 60px;
}

.cookies-container {
  text-align: center;
  padding: 0 20px;
}

/* mise en place du responsive a ameliorer*/
@media (max-width: 768px) {
  .titreCentral h1 {
    font-size: 40px;
  }

  .titreCentral h2 {
    font-size: 18px;
  }

  .cookies-wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .cookie-card {
    width: 90%;
  }
}

.cookies-container h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: "Berkshire Swash", cursive;
}

.cookies-container p {
  font-size: 19px;
  color: #555;
  margin-bottom: 40px;
}

/*footer  à ajouter*/
