* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; /* pour TOUS les éléments */
}

body {
  background-color: #f7f3f0;
  overflow-x: hidden; /* desactiver le defilement à l'horizontal */
  position: relative;
}

body::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: #fff9ef;
  z-index: 0; /* placé en arrière plan */
}

.titreCentral {
  position: relative;

  width: 100%;
  height: 100vh; /* prend toute la largeur et la hauteur*/
  background-image: url("../assets/background2.jpg");
  background-size: cover; /* couvre tout le fond avec l'image*/

  background-position: center;
  background-attachment: fixed; /* image du fond ne bouge pas et reste fixe quand on scroll la page*/
  display: flex;

  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.contenuTC h1,
.contenuTC h2 {
  margin: 0;
  padding: 10px;
}

.title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2;
}

.subtitle {
  font-size: 26px;
  margin-top: 20px;
  opacity: 0;
  color: #fff9ef;
  font-weight: bold;
  animation: effetsousTitre 2s ease forwards 1s; /* voir animation en dessous => */
}

/* animation : le sous titre apparait de bas vers le haut */
@keyframes effetsousTitre {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1; /* apparait apres l'animation */
    transform: translateY(0); /* reviens a la position de base*/
  }
}

.scroll_detect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0);
}

.content {
  padding: 60px 20px;
  background-color: #f0f0f0;
}

.section {
  padding: 60px;
  text-align: center;
  font-size: 24px;
}

h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  color: #555;
}

h1 {
  font-family: "Abril Fatface", serif;
  font-size: 25px;
  color: #fff9ef;
}
