main {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

h2 {
  text-align: center;
  color: #504031;
  font-family: "Montserrat", sans-serif;
  font-size: 29px;
  margin-bottom: 40px;
}

label {
  display: block;
  color: #504031;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 1.1rem;
}

/*zones de texte*/
input {
  width: 100%;
  padding: 12px 15px;
  border: 2px solid #b08968;
  border-radius: 10px;
  font-size: 13px;
}

.submit {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #b08968;
  color: #fff9ef;
  border: none;

  border-radius: 15px;
  font-size: 19px;
  font-weight: bold;
  transition: all 0.3s ease;
  margin-top: 30px;
}

.submit:hover {
  background-color: #8c5832;
}
