h1 {
  text-align: center;
  margin-top: 45px;
}

form input {
  display: flex;
  padding: 15px 6px;
  align-items: center;
  border-radius: 9px;
  margin-left: 44vw;
  font-size: 15px;
  margin-bottom: 25px;
  margin-top: 25px;
  color: #504031;
  font-weight: bold;
}
